In [35]:
import pandas as pd

In [47]:
df = pd.read_csv('us_stocks.csv')

In [48]:
df['date'] = pd.to_datetime(df['date'], format = "%Y-%m-%d")

In [49]:
fmask = df['date'] >= '2000-01-01'

In [50]:
filterDf = df.loc[fmask].set_index(['ticker','date'])

In [51]:
resultDf = filterDf[['adj_open','adj_high','adj_low','adj_close','adj_volume']]

In [52]:
resultDf.columns = resultDf.columns.str.lstrip("adj_")

In [53]:
resultDf

                        open       high        low      close     volume
ticker date
A      2000-01-03  53.726454  53.856080  45.969377  49.121329  3343600.0
       2000-01-04  46.481058  46.992738  44.175084  45.369006  3408500.0
       2000-01-05  45.198445  45.239380  41.828176  41.998737  4119200.0
       2000-01-06  42.046493  42.298923  39.658651  40.934441  1812900.0
       2000-01-07  40.293135  44.986951  40.252200  44.345645  2016900.0
...                      ...        ...        ...        ...        ...
ZUMZ   2018-03-21  23.800000  24.600000  23.605800  23.950000   354092.0
       2018-03-22  23.900000  24.350000  23.300000  23.350000   269607.0
       2018-03-23  23.550000  24.200000  23.450000  23.550000   301584.0
       2018-03-26  23.750000  24.800000  23.700000  24.650000   375320.0
       2018-03-27  24.650000  24.650000  23.350000  23.600000   403884.0

[11343920 rows x 5 columns]

In [54]:
resultDf.to_hdf("cleaned_us_stocks.h5", "df")